.theme{
    display: flex;
    justify-content: center;
    width: 20%;
    
    color: var(--color-surface);
    font-size: 3rem;
}
.theme:hover{
    cursor: pointer;
}

.theme{
    justify-content: flex-start;
}