*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body, #root{
    min-height: 100vh;
    width: 100%;
    scrollbar-width: none;
}

html {
  font-size: 62.5%;
}

body{
    display: grid;
    grid-template-rows: 12rem 1fr 6rem;
    background-color: var(--color-bg);
}

#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
