.header{
    z-index: 5;
    
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;

    width: 100%;
}
.icon:hover{
    cursor: pointer;
}

.header .contents_container{
    display: flex;
    justify-content: space-between;

    height: 68%;

    background-color: var(--color-primary);
}

.header .contents_container .logo_and_search{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 2%;
    height: 100%;
    width: 50%;
}

.header .contents_container .logo_and_search .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 15%;

    font-size: 2.5rem;
    color: var(--color-surface);
}
.header .contents_container .logo_and_search .logo span{
    font-size: 3rem;
}

.header .contents_container .logo_and_search .search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    width: 70%;
    height: 100%;   
}
.header .contents_container .logo_and_search .search input{
    height: 4.5rem;
    width: 33rem;
    padding-left: 3.5rem;

    font-size: 1.7rem;
    color: var(--color-surface);

    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 0.5rem;
    transition: background 0.2s;
}
.header .contents_container .logo_and_search .search input:focus{
    outline: none;
    background-color: rgba(255, 255, 255, 0.4);
}
.header .contents_container .logo_and_search .search input::placeholder{
    color: var(--color-surface);
}
.header .contents_container .logo_and_search .search span{
    position: absolute;
    bottom: 35%;
    left: 1rem;

    font-size: 1.8rem;
    color: var(--color-surface);
}

.header .contents_container .login_and_cart{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    width: 20%;
}



.header .nav{
    display: flex;
    justify-content: flex-start;

    height: 25%;
    width: 100%;

    background-color: var(--color-surface);
    border-bottom: 1px solid var(--color-border);
}

.header .nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 2rem;
    padding-top: 0.1rem;
    height: 100%;
    gap: 2rem;
}
.header .nav ul li a {
    display: flex;
    align-items: center;

    height: 100%;
    
    color: var(--color-text);
    font-size: 1.5em;
    transition: color 0.1s;
    text-decoration: none;
    /* padding-bottom: 2px; */
}
/* .nav ul a:hover{
    color: var(--color-nav-hover);
} */
.header .nav li{
    list-style: none;
}

.header .nav .current a{
    color: var(--color-primary) !important;
}
